<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Ana sayfa</a></li>
            <li><a href="{{ site.baseurl }}/stories">Hikayeler</a></li>
            <li><a href="{{ site.baseurl }}/bookshelf">Kitaplık</a></li>
            <li><a href="{{ site.baseurl }}/journeys">Seyahatler</a></li>
          </ul>
        </div>
        <p>2019 - Meryem Bayraktar</p>
        <p class="small">Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
